{% extends "base.php.twig" %}

{% block title %} Simpledynamic {% endblock %}

{% block style %}
    <link
        rel="stylesheet"
        href="../css/welcome.css.php"
    >
{% endblock %}

{% block content %}
    <div class="grid-container">
        <h1 class="grid-element-1">Добро пожаловать!</h1>
    </div>
{% endblock %}
